html {
	min-width: 100%;
	min-height: 100%;
}

body {
	padding-top: 51px;
}

.content {
    min-height: 500px;
    background-color: #FFFFFF;
}

#chess {
    margin: auto auto 20px auto;
    border-collapse: collapse;
    padding: 0;
}

#chess th {
    background-color: #6e6e6e;
    color: whitesmoke;
    text-align: center;
}

#chess thead th {
    height: 20px;
}

#chess tbody th {
    width: 20px;
}

#chess td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px;
    color: black;
}

#chess tr:nth-child(even) td:nth-child(even) {
    background-color: #000000;
    color: white;
}

#chess tr:nth-child(odd) td:nth-child(odd) {
    background-color: #000000;
    color: white;
}
